---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
	<main>
		<h1>404</h1>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
